<!DOCTYPE html>
<html data-bs-theme="light">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Landing page demo{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.0/js/bootstrap.bundle.min.js"></script>
        {% block stylesheets %}
            <link rel="stylesheet" href="{{ asset('styles/app.scss') }}">
        {% endblock %}
        
        {% block javascripts %}
            {% block importmap %}
                {{ importmap('app') }}
            {% endblock %}
        {% endblock %}
    </head>
    <body>
        <div data-controller="navbar">
            <twig:Header
                siteTitle="{{ 'Symfony UX Demo' }}"
                navigationLinks="{{ {
                    'Twig component': '#twig-component',
                    'Autocomplete input': '#autocomplete-input',
                    'Live component': '#live-component',
                    'Vue component': '#vue-component',
                    'Notifications': '#notifications',
                } }}"
            />
        </div>
        <main class="container my-5">
            {% block body %}{% endblock %}
        </main>

        <twig:Footer
            navigationLinks="{{ {
            } }}"
        />
    </body>
</html>
