{% props name, image = null, description, lazyload = true %}

<div class="card">
    {% if image is not null %}
        <img class="card-img-top"
            src="{{ image }}"
            width="640"
            height="360"
            alt="{{ name }}"
            {% if lazyload %}
                loading="lazy"
            {% endif %}
        >
    {% endif %}
    <div class="card-body">
       <p class="card-title">
           {{ name }}
       </p>
        <p class="card-text">
            {{- description -}}
        </p>
    </div>
</div>
