<button {{ attributes.defaults({
    class: 'ThemeSwitcher',
    type: 'button',
}) }}
        data-controller="theme-switcher"
        data-action="theme-switcher#switch"
>
    <img src="{{ asset('icons/sun.svg') }}" class="Icon Icon--theme-light" alt="Sun Icon">
    <img src="{{ asset('icons/moon.svg') }}" class="Icon Icon--theme-dark" alt="Moon Icon">

</button>
