{% extends 'base.html.twig' %}

{% block title %}Landing live component{% endblock %}

{% block body %}
    <twig:Card
        name="{{ 'test' }}"
        description="{{ 'desc' }}"
    />

    <div class="container w-50 mb-5">
        <twig:AnimalGrid />
    </div>
{% endblock %}
